// Base Offset
$base-offset: 8px;

// Brakepoints:
$screen-xs: 480px; // Extra small screen / phone
$screen-sm: 768px; // Small screen / tablet
$screen-md: 992px; // Medium screen / desktop
$screen-lg: 1200px; // Large screen / wide desktop

$resolutions: "xs", "sm", "md", "lg", "xl";

// Colors

// // Default Colors Palette
$primary: #2dc08d;
$secondary: #8c7cdb;
$text: #384347;
$accent: #e3e9f5;
$info: #3f9cdc;
$warning: #feb251;
$danger: #ff576f;
$white: #ffffff;

// // Hover elements
$primary-hover: #57cda4;
$secondary-hover: #a396e2;
$danger-hover: #ff576f;

// // Active elements
$primary-active: #249a71;
$secondary-active: #7063af;
$info-active: #3685bb;
$warning-active: #d89745;
$danger-active: #d94a5e;

// // Transparent elements
// // // opacity: 10%;
$primary-10: rgba($primary, 0.1);
$secondary-10: rgba($secondary, 0.1);
$accent-10: rgba($accent, 0.1);
$info-10: rgba($info, 0.1);
$warning-10: rgba($warning, 0.1);
$danger-10: rgba($danger, 0.1);
// // // opacity 20%
$primary-20: rgba($primary, 0.2);
$secondary-20: rgba($secondary, 0.2);
$accent-20: rgba($accent, 0.2);
$info-20: rgba($info, 0.2);
$warning-20: rgba($warning, 0.2);
$danger-20: rgba($danger, 0.2);

// // Backgrounds
$surface: $white;
$surface-accent: #9cb2dc;
$bg-page: #f5f7fc;
$bg-page-alt: #fafbfd;

// // Typography Colors
$headings: #2d3639;
$paragraphs: #384347;
$labels: #60696c;
$captions: #afb4b5;
$subtexts: #d8d9db;

// // Supportive colors
$modal: #47445a;
$graphic-1: #f0f0f0;
$graphic-2: #e4e4e4;
$border-color: #e0e0e0;

// // CC colors
$primary-cc: #eaf9f4;
$secondary-cc: #f3f2fb;
$danger-cc: #ffeef1;
$info-cc: #ecf5fc;

// // Visual elements Colors
$visual-violet-1: #d1cbf1;
$visual-violet-2: #e3e0f6;
$visual-green-1: #abe6d1;
$visual-green-2: #cdf0e4;
$visual-blue: #b2d7f1;
$visual-orange: #ffe0b9;
$visual-pink: #ffcdd4;

// // Shadows
$shadow-default: 0px 4px 8px rgba(0, 0, 0, 0.1);
$shadow-hover: 0px 2px 20px rgba(0, 0, 0, 0.1);
$shadow-flat: 1px 1px 1px rgba(231, 228, 228, 0.5);
$shadow-main-navigation: 0px 1px 3px rgba(0, 0, 0, 0.1);

// Font-sizes
$font-size-lg: 20px;
$font-size-md: 18px;
$font-size-rg: 16px;
$font-size-sm: 14px;
$font-size-xs: 12px;
$font-size-xs-min: 10px;

// Container
$container-sm: calc($screen-sm - $base-offset * 4);
$container-md: calc($screen-md - $base-offset * 4);
$container-lg: calc($screen-lg - $base-offset * 4);